@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body,
html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #2d303c;
  color: white;
}

main {
  padding: 0px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learnMore {
  border-color: #7878fe;
  color: white;
  background-color: transparent;
  border: 2px solid #7878fe;
}

.learnMore:hover {
  background-color: #7878fe;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 510px) {
  .contentBody {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
  }
}
